.contact_form {
  margin-bottom: 50px;
  &__avatar {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  &__description {
    margin: 20px 0 25px 0;
    padding: 0 100px;
  }

  &__name {
    text-align: center;
    font-weight: 600;
  }

  &__title {
    font-size: 30px;
    color: $color-yellow2;
    text-align: center;
    margin-bottom: 40px;
    font-family: Lora;
  }
}
.contact {
  height: 400px;
  background-color: $color-blue;
  .content {
    padding: 40px 20px 40px 5%;
    color: $color-white;
    float: left;
    width: 45%;

    .title {
      font-size: 22px;
      font-family: Lora, sans-serif;
      font-weight: 600;
      line-height: 63px;
    }

    .phone, .address {
      display: block;
      position: relative;
      padding-left: 40px;
      margin-bottom: 20px;

      &::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        display: inline-block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
        top: 5px;
      }
    }

    .phone {
      &::before {
        background-image: url("./../../icons/phone.svg");
      }
    }

    .address {
      &::before {
        background-image: url("./../../icons/locaton.svg");
      }
    }

    .social {
      margin-top: 42px;

      .facebook, .linkedin {
        &::after {
          content: "";
          width: 28px;
          height: 28px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 50%;
          display: inline-block;
        }
      }

      .facebook {
        margin-left: 50px;
        margin-right: 15px;

        &::after {
          background-image: url("./../../icons/Facebook.svg");
        }
      }

      .linkedin {
        &::after {
          background-image: url("./../../icons/In.svg");

        }
      }
    }
  }

  .map {
    width: 55%;
    float: right;
  }
}

.contact_mobile {
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;

  .request, .call, .map {
    &::before {
      width: 18px;
      height: 33px;
      vertical-align: middle;
      display: inline-block;
      content: "";
      background-position: center;
      margin-right: 8px;
      background-repeat: no-repeat;
    }

    color: $color-white;
    font-weight: 600;
  }

  .request, .call {
    border-right: 1px solid $color-white;
  }

  .request {
    flex: 2;
    background-color: $color-green;

    &::before {
      background-image: url("./../../icons/calender.svg")
    }
  }

  .call {
    flex: 1;
    background-color: $color-blue;

    &::before {
      background-image: url("./../../icons/phone.svg")
    }
  }

  .map {
    background-color: $color-blue;

    &::before {
      background-image: url("./../../icons/Subtract.svg")
    }

    flex: 1;
  }
}


footer {
  background-color: $color-dark1;

  p {
    font-family: 'Lora', serif;
    text-align: center;
    color: $color-white;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

//resposive

@include media-breakpoint-down(md) {
  .contact_form {
    padding-bottom: 86px;
    &__avatar {
      width: 80%;
    }

    &__description {
      margin: 8px 0 36px 0;
      padding: 0;
    }

    &__name {
      margin-top: 16px;
    }

    &__title {
      font-size: 32px;
      color: $color-yellow2;
      text-align: center;
      margin-bottom: 20px;
      font-family: Lora;
    }

    .form_custom {
      .button {
        margin: 30px 0 0 0;
        width: 100%;

      }
    }
  }
}