header {
  .header_top {
    display: flex;
    justify-content: center;
    &__logo {
      padding: 8px 0 8px 0;
    }
    &__right {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      button {
        padding: 11px 16px;
      }
      a {
        display: inline;
        font-weight: 600;
        color: $color-dark;
      }
      &__address {
        &::before {
          margin-right: 14px;
          content: '\f041';
          font-family: 'FontAwesome'
        }
      }
      &__phone {
        margin-left: 30px;
        margin-right: 68px;
        &::before {
          margin-right: 14px;
          content: '\f095';
          font-family: 'FontAwesome'
        }
      }
    }
    .humbuger-button {
      float: right;
      display: block;
      margin-top: 20px;
      width: 32px;
      height: 32px;
      border: 0;
      outline: 0;
      background-color: $color-yellow;
      background-image: url(../../icons/Hamburger.svg);
      background-repeat: no-repeat;
      background-size: 60%;
      background-position: center;
      transition: background-image 0.2s;
    }
  }
  @include media-breakpoint-only(lg) {
    .header_top {
      &__right {
        button {
          padding: 11px 16px;
        }
        a {
          font-size: 13px;
        }

        &__phone {
          margin-left: 20px;
          margin-right: 28px;
          &::before {
            margin-right: 14px;
            content: '\f095';
            font-family: 'FontAwesome'
          }
        }
      }
    }
    img {
      float: left;
    }
    .header_top__right {
      display: none;
    }
  }
  @include media-breakpoint-down(md){
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: $color-white;
    .header_top{
      height: 70px;
      box-shadow: -3px -48px 50px -30px #FFFFFF;
      display: inline-block;
      &__logo{
        img{
          margin-top: 14px;
          width: 150px;
        }
      }
    }

  }
}
