nav {
  background-color: $color-blue;
  height: 60px;
}
.nav__list {
  height: 60px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__item {
  display: inline;
}
nav a {
  color: $color-white;
  font-weight: 600;
}
.nav__item--active a,
nav a:hover {
  color: $color-yellow;
  text-decoration: none;
}
@include media-breakpoint-down(md) {
  .show-menu .humbuger-button {
    background-image: url(../../icons/close.svg);
    display: block;
  }
  .show-menu nav {
    opacity: 1;
    visibility: visible;
  }
  .show-menu nav > .container {
    transform: translateX(0);
  }
  nav {
    height: 100%;
    background-color: rgba(37, 40, 45, 0.7);
    position: fixed;
    top: 70px;
    bottom: 50px;
    right: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
  }
  nav > .container {
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    max-width: 85%;
    background-color: #0b7197;
    transform: translateX(100%);
    transition: all 0.35s;
    height: 100%;
  }
  .nav__list {
    display: block;
    height: 100%;
  }
  .nav__item {
    display: block;
    border-bottom: 0.5px solid rgba(250, 250, 250, 0.94);
    padding: 10px 20px;
  }
}