body {
  font-family: "Averta", sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 28px;
  color: $color-dark;
}
.container-fluid{
  padding: 0px;
}

h1 {
  font-size: 80px;
}

.heading {
  font-size: 80px;
  font-weight: 600;
  color: $color-white;
}

h2 {
  font-size: 46px;
}

h3 {
  font-size: 40px;
}

p {
  margin: 0;
}

a {
  &:hover {
    text-decoration: none;
  }
}

@include media-breakpoint-down(xl) {
  .container {
    max-width: 1400px;
    width: 100%;
  }
}

@include media-breakpoint-down(lg) {
  .container {
    max-width: 1200px;
    width: 100%;
  }
}