.about{
  .title-two{
    font-family:Lora,SansSerif;
    font-weight: bold;
    font-size: 46px;
    line-height: 63px;
    color: $color-yellow2;
    margin-bottom: 40px;
    padding-top: 44px;
  }
  .images{
    height: 100%;
  }
  .title-begin{
    .title-second{
      padding-top: 0px;
    }
  }
  .mobile{
    display: none;
  }
  .horizon__first{
    padding-bottom: 59px;
    .horizon_right{
      background: #F1F4F5;
      .title{
        font-family: Averta-Bold,sans-serif;
        font-weight: bold;
        font-size: 40px;
        line-height: 28px;
        color:$color-dark;
        padding-top: 88px;
        margin-bottom: 25px;

      }
      .button{
        width: 100%;
        margin-top: 25px;
      }
      .desktop{
        display: block;
        width: 221px;
        padding-bottom: 15px;
        padding-top: 15px;
        margin-bottom: 58px;
      }
      .item-body__right{
        max-width: 800px;
        padding-left: 86px;
        padding-right: 151px;
      }
    }

  }
  .banner{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    .banner__title{
      padding-top: 73px;
      padding-left: 270px;
      padding-right: 270px;
      font-family: Lora,SansSerif;
      font-weight: bold;
      line-height: 63px;
      color: #5E7872;
      margin-bottom: 30px;
    }
    .banner__content{
      padding-left: 380px;
      padding-right: 380px;
      padding-bottom: 49px;
    }
    .button-up{
      margin-bottom: 56px;
      text-align: right;
      a{
        color: #ffffff;
      }
    }
    .button-down{
      text-align: left;
      a{
        color: #ffffff;
      }
    }
    .button{
      width: 221px;
      height: 50px;
    }
  }
  .horizon__second{

    .title{
      font-weight: bold;
      color: $color-dark;
      padding-top: 90px;
      margin-bottom:42px;
    }
    .item-body__left{
      max-width: 600px;
      float: right;
      padding-right: 53px;
    }
    .item-images{
      background-color: #ffffff;
      padding:0px;
    }
    .item-body__right{
      max-width: 800px;
      padding-left: 88px;
      padding-right: 148px;
    }
    .desktop{
      display: block;
      width: 221px;
      padding-bottom: 15px;
      padding-top: 15px;
      margin-bottom: 58px;
    }
    .button{
      width: 100%;
      margin-top: 25px;
      display: none;
    }
  }
  .title-begin{
    padding-top:0px;
  }
  .final{
    margin-bottom: 80px;
  }
}
@include media-breakpoint-down(md)
{

  .about{
    .horizon_mid{
      background-color: $color-yellow3;
    }
    .horizon__second{
      margin-bottom: 50px;

    }
    .images{
      height: unset;
    }
    .horizon_mid{
      .button{
        margin-bottom: 40px;
      }
      .final__mid{
        margin-bottom: 0px;
      }
    }
    .title-second{
      font-size: 32px;
      line-height: 40px;
    }
    .mobile{
      display: block;
      .title-second{
        padding-top: 28px;
      }
    }
    .horizon__first{
      padding-bottom: 50px;
      .horizon_right{
        .title-second{
          margin-bottom: 24px;
          padding-top: 24px;
        }
          background: $color-yellow3;
        .title{
          font-family: Averta-Bold,SansSerif;
          font-weight: bold;
          font-size: 18px;
          line-height: 28px;
          padding-top: 16px;
          margin-bottom: 16px;
        }
        .item-body__right{
          padding-left: 15px;
          padding-right: 15px;
        }
        .desktop{
          display: none;
        }
        .button{
          display:block;
        }
      }

    }
    .banner{
      margin-bottom: 50px;
      height: unset;
      .banner__title{
        font-size: 28px;
        padding-top: 46px;
        padding-left: 0px;
        padding-right: 0px;
        font-family: Lora,SansSerif;
        font-weight: bold;
        line-height: 40px;
        color: #5E7872;
        margin-bottom: 16px;
      }
      .banner__content{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 29px;
      }
      .button-up{
        text-align: center;
        padding-right:0px;
        padding-left:0px;
        margin-bottom: 20px;
      }
      .button-down{
        text-align: center;
        margin-bottom: 69px;
        padding-right:0px;
        padding-left:0px;

      }
      .button{
        width: 221px;
        height: 50px;
      }
    }
    .horizon__second{
      .title-second{
        padding-top: 50px;
        margin-bottom: 24px;
      }
      .title{
        color:$color-dark;
        padding-top: 12px;
        margin-bottom:12px;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
      }
      .item-body__left{
        padding-left: 20px;
        padding-right: 20px;
      }
      .item-images{

        background: $color-yellow3;
        padding:0px;
      }
      .item-body__right{
        padding-left: 15px;
        padding-right: 15px;
        background-color: $color-yellow3;
      }
      .button{
        display: block;
      }
    }
    .final{
      margin-bottom: 30px;

      .item-body__right{

        background-color: $color-yellow3;
      }
    }
  }

}