.contact-ph{
  .content{
    margin-top: 35px;
    margin-bottom: 80px;
    padding: 0px 60px;
    h2{
      color: $color-yellow2;
      font-family: Lora;
      font-weight: bold;
      margin-bottom: 40px;
    }
    .notice{
      font-weight:bold;
      margin: 20px 0px;
    }
    .form-kenedy{
      input{
        height: 50px;
        background: #F3F6F7;
      }
      textarea{
        height: 220px;
        resize: none;
        background: #F3F6F7;
      }
    }
    .button{
      width: 220px;
    }
    .family_cosmetic{
      font-family: Lora
    }
    .map{
      padding-left: 80px;
      .infomation {
        h6 {
          color: #9E8363;
          font-family: "Averta";
          margin-top: 40px;
        }
        width: 280px;
      }
    }
  }
  .contact {
    height: 400px;
    background-color: $color-blue;

    .content {
      padding: 40px 20px 40px 5%;
      margin-bottom: 0px;
      color: $color-white;
      float: left;
      width: 45%;

      .title {
        font-size: 22px;
        font-family: Lora, sans-serif;
        font-weight: 600;
        line-height: 63px;
      }

      .phone, .address {
        display: block;
        position: relative;
        padding-left: 40px;
        margin-bottom: 20px;

        &::before {
          position: absolute;
          content: "";
          width: 18px;
          height: 18px;
          display: inline-block;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          left: 0;
          top: 5px;
        }
      }

      .phone {
        &::before {
          background-image: url("./../../icons/phone.svg");
        }
      }

      .address {
        &::before {
          background-image: url("./../../icons/locaton.svg");
        }
      }

      .social {
        margin-top: 42px;

        .facebook, .linkedin {
          &::after {
            content: "";
            width: 28px;
            height: 28px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 50%;
            display: inline-block;
          }
        }

        .facebook {
          margin-left: 50px;
          margin-right: 15px;

          &::after {
            background-image: url("./../../icons/Facebook.svg");
          }
        }

        .linkedin {
          &::after {
            background-image: url("./../../icons/In.svg");

          }
        }
      }
    }

    .map {
      width: 55%;
      float: right;
    }
  }
  .contact_mobile {
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;

    .request, .call, .map {
      &::before {
        width: 18px;
        height: 33px;
        vertical-align: middle;
        display: inline-block;
        content: "";
        background-position: center;
        margin-right: 8px;
        background-repeat: no-repeat;
      }

      color: $color-white;
      font-weight: 600;
    }

    .request, .call {
      border-right: 1px solid $color-white;
    }

    .request {
      flex: 2;
      background-color: $color-green;

      &::before {
        background-image: url("./../../icons/calender.svg")
      }
    }

    .call {
      flex: 1;
      background-color: $color-blue;

      &::before {
        background-image: url("./../../icons/phone.svg")
      }
    }

    .map {
      background-color: $color-blue;

      &::before {
        background-image: url("./../../icons/Subtract.svg")
      }

      flex: 1;
    }
  }
}
footer {
  background-color: $color-dark1;
  p {
    font-family: 'Lora', serif;
    text-align: center;
    color: $color-white;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@include media-breakpoint-only(xs){
 .contact-ph{
   .content{
     padding: 0px 20px;
     .map{
       padding-left: 0px;
       text-align: center;
       iframe{
         width: 320px;
         height: 320px;
       }
       .infomation{
         width: 100%;
       }
     }
   }
 }
}