.contact-ph{
  .content{
    margin-top: 35px;
    margin-bottom: 80px;
    padding: 0px 60px;
    h2{
      color: $color-yellow2;
      font-family: Lora;
      font-weight: bold;
      margin-bottom: 40px;
    }
    .notice{
      font-weight:bold;
      margin: 20px 0px;
    }
    .form-kenedy{
      input{
        height: 50px;
        background: #F3F6F7;
        border:0px
      }
      textarea{
        height: 220px;
        resize: none;
        background: #F3F6F7;
        border: 0px;
      }
    }
    .button{
      width: 220px;
    }
    .family_cosmetic{
      font-family: Lora
    }
    .map{
      padding-left: 80px;
      .infomation {
        h6 {
          color: #9E8363;
          font-family: "Averta";
          margin-top: 40px;
        }
        width: 280px;
      }
    }
  }
  .contact_form {
    display: none;
  }
}
@include media-breakpoint-only(xs){
 .contact-ph{
   .content{
     padding: 0px 20px;
     .map{
       padding-left: 0px;
       text-align: center;
       iframe{
         width: 320px;
         height: 320px;
       }
       .infomation{
         width: 100%;
       }
     }
   }
 }
}