.general {
  .title-second{
    margin-bottom: 0px;
  }
  .images{
    object-fit: cover;
    height: 100%;
  }
  .final-section{
    margin-bottom: 78px;
  }
  .cover {
    &__button {
      .button {
        display: block;
        margin: 0 auto 20px auto;
      }
    }

    &__rating {
      width: 220px;
      position: absolute;
      left: calc(50% + 260px);
      bottom: 80px;
      background: #fff;
      border-radius: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;

      .title {
        font-family: 'Lora', serif;
        font-size: 12px;
        color: $color-yellow !important;
        margin-bottom: 5px;
        position: relative;
      }

      .title:before,
      .title:after {
        content: '';
        position: absolute;
        width: 25px;
        height: 1px;
        background-color: #E2AB40;
        top: 50%;
      }

      .title:before {
        left: 30px;
      }

      .title:after {
        right: 30px;
      }

      .number {
        font-size: 35px;
        line-height: 23px;
        color: #5E7872;
      }

      .label {
        font-size: 10px;
        line-height: 15px;
        background-color: #5E7872;
        text-transform: uppercase;
        color: $color-yellow;
        margin-top: 5px;
        margin-bottom: 5px;
        letter-spacing: 0.2em;
        display: inline-block;
        padding-left: 8px;
        padding-right: 8px;
      }

      &__stars {
        margin-bottom: -10px;

        .star {
          background-image: url("./../../icons/star.svg");
          width: 20px;
          height: 20px;
          display: inline-block;
        }
      }

      &__learnmore {
        font-size: 10px;
        line-height: 13px;
        text-transform: uppercase;
        color: #5E7872 !important;
        letter-spacing: 0.3em;
      }

    }
  }

  .welcome {
    padding-top: 42px;

    &__title {
      text-align: left;
      font-family: Lora;
      font-weight: bold;
      font-size: 46px;
      line-height: 63px;
      color: $color-yellow2;
      margin-bottom: 15px;
    }

    &__text {
      margin-bottom: 42px;
    }

    &__description {
      margin-bottom: 20px;
      font-family: Lora;
      font-weight: bold;
      font-size: 22px;
      line-height: 30px;
      color: $color-yellow;
    }
  }

  .banner{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 50px;
    .banner__title{
      padding-top: 73px;
      padding-left: 270px;
      padding-right: 270px;
      font-family: Lora,SansSerif;
      font-weight: bold;
      line-height: 63px;
      color: #5E7872;
      margin-bottom: 30px;
    }
    .banner__content{
      padding-left: 380px;
      padding-right: 380px;
      padding-bottom: 49px;
    }
    .button-up{
      margin-bottom: 56px;
      text-align: right;
      a{
        color: #ffffff;
      }
    }
    .button-down{
      text-align: left;
      a{
        color: #ffffff;
      }
    }
    .button{
      width: 221px;
      height: 50px;
    }
  }

  .horizon_right{
    .title{
      font-family: Averta-Bold,Sans-Serif;
      color:$color-dark;
      font-weight: bold;
      font-size: 40px;
      line-height: 50px;
      padding-top: 62px;
      margin-bottom: 16px;
    }

    .button{
      margin-top: 37px;
      width: 221px;
    }
    .item-body__right{
      padding-bottom: 100px;
      max-width: 800px;
      padding-left: 88px;
      padding-right: 148px;
    }
  }
  .horizon{
    .item-body__left{
      padding-bottom: 100px;
      max-width: 600px;
      float: right;
      padding-right: 53px;
    }
    .title{
      color: $color-dark;
      font-family: Averta-Bold,Sans-Serif;
      font-size: 40px;
      font-weight: bold;
      line-height: 50px;
      padding-top: 62px;
      margin-bottom: 16px;
    }
    .button{
      margin-top: 37px;
      width: 221px;
    }
  }
  .fa{
    padding-right: 8px;
  }
  .teeth{

  }
}
@include media-breakpoint-down(md){
  .general{
    .title-headding{
      text-align: left;
    }
    .images{
      height: unset;
    }
    .banner{
      margin-bottom:50px;
      height: unset;
      .banner__title{
        font-size: 28px;
        padding-top: 46px;
        padding-left: 0px;
        padding-right: 0px;
        font-family: Lora,SansSerif;
        font-weight: bold;
        line-height: 40px;
        color: #5E7872;
        margin-bottom: 16px;
      }
      .banner__content{
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 29px;
      }
      .button-up{
        padding-right:0px;
        padding-left:0px;
        text-align: center;
        margin-bottom: 20px;
      }
      .button-down{
        text-align: center;
        margin-bottom: 69px;
        padding-right:0px;
        padding-left:0px;

      }
      .button{
        width: 221px;
        height: 50px;
      }
    }
    .horizon{
      .title{
        font-size: 32px;
        line-height: 40px;
      }
      .item-body__left{
        padding-bottom: 0px;
        max-width: 600px;
        padding-left: 20px;
        padding-right: 20px;
      }
      .button{
        width: 100%;
      }
    }
    .horizon_right{
      .title-second{
        padding-top: 24px;
        margin-bottom: 24px;
        font-family: Lora,SansSerif;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
      }
      margin-bottom: 50px;
      .title{
        font-family: Averta-Bold,Sans-Serif;
        font-size: 18px;
        line-height: 28px;
        color: $color-dark;
        font-weight: bold;
        padding-top: 16px;
      }
      .item-body__right{
        padding-bottom: 0px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .button{
        width: 100%;
      }
    }
    .welcome{
      .welcome__title{
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
}