@font-face {
  font-family: "Averta-Semibold";
  src: url("//db.onlinewebfonts.com/t/774a72961dd69f90a772237432b1623e.eot");
  src: url("//db.onlinewebfonts.com/t/774a72961dd69f90a772237432b1623e.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/774a72961dd69f90a772237432b1623e.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/774a72961dd69f90a772237432b1623e.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/774a72961dd69f90a772237432b1623e.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/774a72961dd69f90a772237432b1623e.svg#Averta-Semibold") format("svg");
}
@font-face {font-family: "Averta-Regular";
  src: url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.eot");
  src: url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/150037e11f159dca84bc4c04549094b6.svg#Averta-Regular") format("svg"); }
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");