//yellow
$color-yellow:#E2AB40;
$color-yellow-1:#FFEFD7;
$color-yellow2:#BC8452;
$color-yellow3:#fbf8f0;
$color-yellow4: #f9f6ec;
//blue
$color-blue:#0068B5;
//green
$color-green:#27AE60;
//white
$color-white:#fff;
$color-white1:#ebf1f6;
$color-white2:#DEEBDC;
//dark
$color-dark:#6C675C;
$color-dark1:#5e7872;
$color-dark2:#c4c2be;
